body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #0404e2;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.participants {
    list-style-type: none;
    padding: 0;
}

.participants li {
    font-size: 1.5em;
    margin: 10px 0;
    transition: transform 0.3s;
}

.participants li:hover {
    transform: scale(1.1);
    color: #0404e2;
}
